<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center">
      <h1>About</h1>
      <div class="container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>

              <th scope="col">ID</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>S. K. M Shadekul Islam</td>

              <td>191-15-12836</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Majeda Akter Mitu</td>

              <td>191-15-12644</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div class="container text-center">
      <p class="display-4">As-salamu Alaykum!</p>
      <p class="h6" > Very Welcome to our project. We are glad you choose to pay visit. Password's are really important these days. From this concern we created this. This application will create strong passwords for you! We will also do further development in this project like authentication, add more features like management your all accounts and their passwords. So that you don't have to remember them. And can enjoy a tension free time. </p>
      <h4>Wish Us Luck!!</h4>
      <h5>Support Us...</h5>
      </div>
      <br />
      <br />
      <a href="{% url 'home' %}" class="btn btn-secondary">Back To Home</a>
    </div>
  </body>
</html>

<!-- <h1>Password Generator</h1>
<form action="password">
  <select name="length">
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8" selected="selected">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
  </select>
  <br />
  <input type="checkbox" name="uppercase" />Uppercase
  <br />
  <input type="checkbox" name="lowercase" />Lowercase
  <br />
  <input type="checkbox" name="numbers" />Numbers
  <br />
  <input type="checkbox" name="special" />Special Characters
  <br />
  <input type="submit" value="Generate Password" />
</form>

<a href="{% url 'about' %}">Go To About Page</a> -->
